body {
    background-color: lightblue;
  }

  h1 {
    color: white;
    text-align: center;
  }

  p {
    font-family: verdana;
    font-size: 20px;
    margin-left: 10vw;
    margin-right: 10vw;
  }

  img {
  display: block;
  margin-left: auto;
  margin-right: auto;

  object-fit: cover;
  }


 figcaption {
  color: black;
  text-align: center;
}

iframe{
margin-left:50vw;
transform: translate(-50%);
height:(16*(50vw))/9;
width: 50vw;

}
